/*主要样式表*/
/*Created by wzm*/
html,body,div,a{
	margin: 0;
	padding: 0;
}
.wrap{
	width: 1200px;
	height: 500px;
	margin: 10px auto;
	position: relative;
}
.page{
	position: absolute;
}
/*按钮*/
.btn{
	opacity: 0;
}
.btn a{
	width: 60px;
	height: 60px;
	font: 600 40px/56px 'Microsoft yahei';
	text-align: center;
	text-decoration: none;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.1);
	z-index: 20;
}
.btn-left{
	left: 0;
}
.btn-right{
	right: 0;
}